[build.environment]
  NPM_FLAGS = "--include=dev"

[build]
  command = "npm ci --include=dev && cd admin && npm ci --include=dev && npm run build && cd .. && npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/*"
  to = "https://car-rental-api-pp6g.onrender.com/api/:splat"
  status = 200

[[redirects]]
  from = "/admin/*"
  to = "/admin/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[plugins]]
  package = "netlify-plugin-subdir-sitemap"

[[headers]]
  for = "/admin/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
